<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css.css' %}">
</head>
<body>
    <header>
        <h1>Car Performance Prediction</h1>
    </header>
    <main>
        <section class="calculator">
            <h2>Car Performance Calculator</h2>
            <form action="{% url 'results' %}" method="get">
                {% csrf_token %}
                <div class="form-group">
                    <label for="cylinders">Cylinders</label>
                    <input type="text" id="cylinders" name="cylinders">
                </div>
                <div class="form-group">
                    <label for="displacement">Displacement</label>
                    <input type="text" id="displacement" name="displacement">
                </div>
                <div class="form-group">
                    <label for="horsepower">Horsepower</label>
                    <input type="text" id="horsepower" name="horsepower">
                </div>
                <div class="form-group">
                    <label for="weight">Weight</label>
                    <input type="text" id="weight" name="weight">
                </div>
                <div class="form-group">
                    <label for="acceleration">Acceleration</label>
                    <input type="text" id="acceleration" name="acceleration">
                </div>
                <div class="form-group">
                    <label for="model_year">Model Year</label>
                    <input type="text" id="model_year" name="model_year">
                </div>
                <div class="form-group">
                    <label for="origin">Origin</label>
                    <input type="text" id="origin" name="origin">
                </div>
                <div class="form-group">
                    <button type="submit">Calculate</button>
                </div>
            </form>
        </section>
    </main>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
